PORT=5001
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=pustakyatra
JWT_SECRET=your_secret

# Email Configuration
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=qmjt ppok zcio hvkf
EMAIL_FROM=Your App Name <your_email@gmail.com>
