

PORT=5001
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=pustakyatra
JWT_SECRET=ANY_RANDOM_SECRET

# Email Configuration
EMAIL_USER=pustakyatra072@gmail.com
EMAIL_PASSWORD=qmjtppokzciohvkf
EMAIL_FROM=Pustakyatra <pustakyatra072@gmail.com>

# eSewa Payment Gateway (test credentials)
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_PAYMENT_URL=https://rc.esewa.com.np/api/epay/main/v2/form
ESEWA_VERIFY_URL=https://rc-epay.esewa.com.np/api/epay/transaction/v2/status
FRONTEND_URL=http://localhost:5173


